* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#bgVideo {
  display: flex;
  top: 0;
  left: 0;
  max-width: 100%;
  min-width: 100%;
  width: 440px;
  padding: 50px;
}
#crtv-logo {
  width: auto;
}
.knap {
  display: flex;
  width: 20%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.knap:hover {
  transform: scale(110%);
}
body {
  font-family: sans-serif;
  background-color: #edece7;
}
.hr-line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
section {
  padding: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-family: "Anton", "Oswald", sans-serif;
  font-size: 60px;
}
h2 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: #2f6d4f;
  font-family: "Anton", "Oswald", sans-serif;
  font-size: 40px;
}
h3 {
  padding-bottom: 10px;
  color: white;
  font-size: large;
  font-family: "Anton", "Oswald", sans-serif;
}
p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
img {
  max-width: 100%;
}
.hero1 {
  padding-top: 100px;
}
.flex_one_column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid_3_1f .grid_1_1f_1_2fr {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero2 {
  background-color: #252525;
}
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/imgs/baggrund-forside1.png");
  background-size: cover;
  background-position: center;
}

.baggrundsbillede img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.burger {
  display: block;
}
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}
.menu {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}
.menu a {
  color: black;
  font-size: xx-large;
  font-family: "Anton", "Oswald", sans-serif;
}

.menubaren {
  background-image: url(../../imgs/baggrundbilled.png);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 120px;
  background-color: transparent;
  position: relative;
  color: white;
  z-index: 2;
}

.marquee-section {
  display: none;
}
.footer {
  background-color: #252525;
}
#p-hvid {
  color: white;
}
h1 {
  text-align: center;
  color: #2f6d4f;
}
.artikel-tekst {
  padding: 10px;
}
nav.active .menu {
  display: flex;
}
@media (min-width: 900px) {
  .artikel-tekst {
    padding-inline: 250px;
    padding-bottom: 25px;
    font-size: large;
  }
  .billede1-artikel1 {
    padding: 200px;
  }
  .h2-artikel {
    text-align: center;
  }
  #crtv-logo {
    width: auto;
  }
  .menu {
    flex-direction: row;
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 20px;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .menu li {
    border: none;
  }

  .burger {
    display: none;
  }

  .menu a {
    color: white;
    font-size: xx-large;
    font-family: "Anton", "Oswald", sans-serif;
  }

  .menu a:hover {
    color: black;
  }

  .grid_3_1f {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: white;
  }

  .grid_1_1f_1_2fr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
  }
  .grid_2-1fr {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    padding-top: 50px;
  }
  h4 {
    font-size: large;
  }
  h5 {
    font-size: x-large;
    padding-bottom: 40px;
    text-align: center;
    font-family: "Anton", "Oswald", sans-serif;
  }
  .hr-line2 {
    width: 100%;
    height: 2px;
    background-color: #8c8c8c;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: 0.2s linear;
  }
  .hr-line3 {
    width: 100%;
    height: 2px;
    background-color: #8c8c8c;
    margin-bottom: 30px;
    transition: 0.2s linear;
  }
  .gridcolumn {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    padding-top: 10px;
  }

  h6 {
    padding-bottom: 15px;
    color: white;
    font-family: "Anton", "Oswald", sans-serif;
    font-size: 80px;
  }
  .marquee-section {
    position: relative;
    min-height: 82px;
    display: block;
  }

  .marquee-section,
  .marquee-section * {
    overflow: hidden;
  }

  .marquee {
    white-space: nowrap;
    color: #2f6d4f;
    font-family: "Anton", "Oswald", sans-serif;
    font-size: 30px;
  }

  .marquee-div {
    position: absolute;
    animation: move-left-to-right linear 12.5s infinite;
  }

  @keyframes move-left-to-right {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  .footer-article {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 5px;
    margin-top: 130px;
  }
  .footer-knap {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 17.75px;
    padding-left: 17.75px;
    margin-top: 130px;
  }
  .grid_1-1-1-1fr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 20px;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 50px;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 200px;
    gap: 30px;
  }
}
