---
import PageLayout from "../layouts/PageLayout.astro";
---
<PageLayout title="Artikler">
    <a href="/artikel1">
<img class="knap" src="public/imgs/button1.png" alt="knap1">
</a>
<a href="/artikel2">
<img class="knap" src="public/imgs/button2.png" alt="knap2">
</a>
<a href="/artikel3">
<img class="knap" src="public/imgs/button3.png" alt="knap3">
</a>
</PageLayout>