---
import PageLayout from "../layouts/PageLayout.astro";
---
<PageLayout title="Artikler">
    <a href="/artikel1">
<img class="knap" src="/imgs/knap3.png" alt="knap1">
</a>
<a href="/artikel2">
<img class="knap" src="/imgs/knap2.png" alt="knap2">
</a>
<a href="/artikel3">
<img class="knap" src="/imgs/knap.png" alt="knap3">
</a>
</PageLayout>