---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
---

<PageLayout title="Creative Escape TV">
<section class="hero">
</section>

  <section class="hero1">
    <div class="grid_1_1f_1_2fr">
      <div class="flex_one_column">
        <Card img="public/imgs/4R6A3395.JPG" tag="FREE GEMS" text="Find Nørrebros skjulte oaser med kunst, skatte og vibes uden at betale en krone"/>
        <Card img="public/imgs/4R6A3378.JPG" tag="NØRREBRO BITES" text="Oplev Nørrebros madscene med alt fra street food til lokale favoritter" />
    
      </div>
      <Card variant="featured" img="public/imgs/4R6A3444.webp" tag="GENBRUGSGUIDEN: CRTV" text="Sådan navigerer du Nørrebros vintage-scene" />
    </div>
  </section>
  <section class="hero2">
   <h3>HIDDEN FINDS</h3>
<div class="hr-line"></div>
   <h2 class="h2-mork">SKJULTE PERLER DER ER VÆRD AT UDFORSKE</h2>
    <div class="grid_3_1f">
      <Card img="public/imgs/4R6A3454.webp" tag="HIDDEN FIND" text="Asiatiske retter, dim sum og sushi serveret med kreative cocktails på et afslappet sted med en energisk stemning." />
      <Card img="public/imgs/4R6A3433.JPG" tag="HIDDEN FIND" text="“Understellet er en af de mest populære og tiltrængte barer på Nørrebrogade, -og med god grund.” " />
      <Card img="public/imgs/4R6A3399.JPG" tag="HIDDEN FIND" text="Siden Mimersparkens etablering byder de store arealer på både på flot beplantning samt rammer til sport og leg for alle aldre." />
    </div>
  </section>
  <section class="hero3">
<div class="grid_2-1fr">
  <div class="stort-kort">
  <Card variant="featured" img="public/imgs/4R6A3445.webp" tag="GENBRUGSGUIDEN" text="Street fashion hacks og upcycle dit outfit"/>
  </div>
  <div>
    <div class="txt-hero3">
    <h4>Nyheder:</h4>
    <div class="hr-line2"></div>
    <h5>SENESTE NYT</h5>
    </div>
   <div>
  <div class="gridcolumn">
    <div>
      <img src="public/imgs/4R6A3412.JPG" alt="">
    </div>
    <div><p>DIY street art og vægge der wow’er</p></div>
  </div>
  <div class="hr-line2"></div>
  <div class="gridcolumn">
    
    <div>
      <img src="public/imgs/4R6A3424.JPG" alt="">
    </div>
    <div><p>Fotoudfordringer og fang magien på 5 sekunder</p></div>
  </div>
 
  <div class="hr-line2"></div>
  <div class="gridcolumn">
    
    <div>
      <img src="public/imgs/Section img.png" alt="">
    </div>
    <div><p>Collage it up og lav din egen moodboard-magi</p></div>
  </div>
  <div class="hr-line2"></div>
 
    <div class="gridcolumn">
    <div>
      <img src="public/imgs/4R6A3420.webp" alt="">
    </div>
    <div><p>Urban sketching og fang byens vibes</p></div>
  
  </div>
  <div class="hr-line2"></div>
</div>
  
</div>
</div>
  </section>
  
</PageLayout>
