---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
---

<PageLayout title="Creative Escape TV">


  <section class="hero1">
    <div class="grid_1_1f_1_2fr">
      <div class="flex_one_column">
        <Card img="/imgs/graffiti01.webp" tag="Hidden gems" text="Lorem ipsum, dolor sit amet consectetur" link="/content/localcrtv" />
        <Card img="/imgs/graffiti02.webp" tag="Køb brugt" text="Dolor sit amet consectetur Lorem ipsum" />
        <Card img="/imgs/graffiti03.webp" tag="Nørrebros bygninger" text="Qui et debitis sit illum consequatur" />
      </div>
      <Card variant="featured" img="/imgs/graffiti02.webp" tag="Global CRTV" text="Dolor sit amet consectetur Lorem ipsum" />
    </div>
  </section>
  <section class="hero2">
   <h3>Fremhævet artikler</h3>
<div class="hr-line"></div>
   <h2 class="h2-mork">Ting man ikke kan gå glip af at se på Nørrebro</h2>
    <div class="grid_3_1f">
      <Card img="/imgs/graffiti01.webp" tag="Local CRTV" text="Lorem ipsum, dolor sit amet consectetur" />
      <Card img="/imgs/graffiti02.webp" tag="Global CRTV" text="Dolor sit amet consectetur Lorem ipsum" />
      <Card img="/imgs/graffiti03.webp" tag="Hidden Free Gem" text="Qui et debitis sit illum consequatur" />
    </div>
  </section>
  <section class="hero3">
<div class="grid_2-1fr">
  <div class="stort-kort">
  <Card variant="featured" img="/imgs/graffiti01.webp" tag="UNMISSABLE FREE GEMS" text="Lorem ipsum, dolor sit amet consectetur"/>
  </div>
  <div>
    <div class="txt-hero3">
    <h4>Nyheder:</h4>
    <div class="hr-line2"></div>
    <h5>SENESTE NYT</h5>
    </div>
   <div>
  <div class="gridcolumn">
    <div>
      <img src="/imgs/graffiti01.webp" alt="">
    </div>
    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat optio, maiores beatae porro ipsam eum provident facere eos exercitationem cupiditate numquam sunt in, necessitatibus ut. Quibusdam excepturi aperiam hic!</p></div>
  </div>
  <div class="hr-line2"></div>
  <div class="gridcolumn">
    <div class="gridcolumn">
    <div>
      <img src="/imgs/graffiti01.webp" alt="">
    </div>
    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat optio, maiores beatae porro ipsam eum provident facere eos exercitationem cupiditate numquam sunt in, necessitatibus ut. Quibusdam excepturi aperiam hic!</p></div>
  </div>
  </div>
  <div class="hr-line2"></div>
  <div class="gridcolumn">
    <div class="gridcolumn">
    <div>
      <img src="/imgs/graffiti01.webp" alt="">
    </div>
    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat optio, maiores beatae porro ipsam eum provident facere eos exercitationem cupiditate numquam sunt in, necessitatibus ut. Quibusdam excepturi aperiam hic!</p></div>
  </div>
  </div>
  <div class="hr-line2"></div>
  <div class="gridcolumn">
    <div class="gridcolumn">
    <div>
      <img src="/imgs/graffiti01.webp" alt="">
    </div>
    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis fugiat optio, maiores beatae porro ipsam eum provident facere eos exercitationem cupiditate numquam sunt in, necessitatibus ut. Quibusdam excepturi aperiam hic!</p></div>
  </div>
  </div>
  <div class="hr-line2"></div>
</div>
  
</div>
</div>
  </section>
  
</PageLayout>
