---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
---
<PageLayout title="SOCIAL MEDIA">
    <h2>Video:</h2>
  <video id="bgVideo" controls>
                <source src="/imgs/Vintageshopping.mp4" type="video/mp4">
            </video>
<h2>Stories:</h2>
            <div class="grid_1-1-1">
                <img src="/imgs/CRTVESC 1.png" alt="reminder-story">
                <img src="/imgs/LYGTENS STATION 1.png" alt="lygtens station story">
                <img src="/imgs/MINAS 1.png" alt="minas matcha">
            </div>
              <div class="grid_1-1-1">
                <img src="/imgs/La Liceria 1.png" alt="billede af jojos">
                <img src="/imgs/JOJO 1.png" alt="billede af jojos2">
                <img src="/imgs/MCVINTAGE 1.png" alt="mcvintage story">
            </div>
</PageLayout>