<section class="footer">
  <div class="marquee-section">
    <div class="marquee-div">
        <div class="marquee">NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ </div>
    </div>
</div>
<div class="grid_2-1fr">
    <div>
<h6>DESIGN NEWS TO </h6>
<h6>YOUR INBOX</h6>
</div>
<div>
<input class="footer-article" type="text" placeholder="Email">
<button class="footer-knap">SIGN UP</button>
</div>
</div>

<div class="grid_1-1-1-1fr">
    <div>
    <h3>CREATIVE ESCAPE</h3>
    </div>
      <div>
        <div class="hr-line3"></div>
    <p id="p-hvid">Art</p>
    <p id="p-hvid">Design</p>
    <p id="p-hvid">architecture</p>
    </div>
      <div>
        <div class="hr-line3"></div>
    <p id="p-hvid">Website</p>
    <p id="p-hvid">Podcast</p>
    <p id="p-hvid">Authors</p>
    </div>
      <div>
        <div class="hr-line3"></div>
     <p id="p-hvid">Styleguide</p>
    <p id="p-hvid">Licensing</p>
    <p id="p-hvid">Changelog</p>
    </div>
</div>
<div class="icons">
    <img class="icon" src="/imgs/instagram.svg" alt="icon af instagram">
    <img class="icon" src="/imgs/spotify.svg" alt="icon af spotify">
    <img class="icon" src="/imgs/twitter.svg" alt="icon af twitter">
    <img class="icon" src="/imgs/youtube.svg" alt="icon af youtube">
</div>
</section>