<div class="menubaren">
 <div class="logo">
            <a href="index.html">
                <img id="crtv-logo" src="public/imgs/logo header.png" alt="Logo">
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li class="li-txt"><a href="/artikler">ARTIKLER</a></li>
                <li class="li-txt"><a href="/social-media">SOCIAL MEDIA</a></li>
                <li class="li-txt"><a href="/om-os">OM OS</a></li>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
</div>
<script>
</script>